* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    row-gap: 10px;
    column-gap: 30px;
    background-color: lightgray;
    height: 500px;
    padding: 16px;
    text-align: center;
}

.bloco-1 {
    background-color: rgba(210, 105, 30, 0.726);
    height: 100px;
    width: 150px;
    border-radius: 15px;
    order: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: flex-end;
}

.bloco-2 {
    background-color: rgba(0, 0, 255, 0.644);
    height: 100px;
    width: 150px;
    border-radius: 16px;
    order: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.bloco-3 {
    background-color: rgba(255, 20, 145, 0.644);
    height: 100px;
    width: 150px;
    border-radius: 16px;
    order: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: flex-start;
}

